:root {
  --text-main: #2f3035;
  --text-accent: #1c62cd;
  --text-gray: #656464;
  --text-light: #c4c4c4;

  --bg-light: #f0f0f4;
  --border-light: #cdcdcd;

  --ff-main: "SFProDisplay-Regular", sans-serif;
  --ff-medium: "SFProDisplay-Medium", sans-serif;
  --ff-bold: "SFProDisplay-Bold", sans-serif;
  --ff-num: "Barlow", sans-serif;
}

body {
  color: var(--text-main);
  font-family: var(--ff-main);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-section {
  margin-bottom: 80px;
}

/* header */
.header {
  padding-bottom: 80px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  font-family: var(--ff-bold);
  font-weight: 700;
}

.menu__item {
  display: inline-block;
}
.menu__item + .menu__item {
  padding-left: 50px;
}

.header__box {
  display: flex;
}
.header__adress {
  margin-right: 60px;
  padding-left: 30px;
  width: 265px;
  position: relative;
  cursor: pointer;
}
.header__adress::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: -10px;
  background-image: url(../images/header/map.svg);
  background-repeat: no-repeat;
}
.user-list {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.user-list__item {
  padding-right: 10px;
}
.cart {
  position: relative;
}
.cart__num {
  position: absolute;
  right: -14px;
  bottom: -5px;
  font-family: var(--ff-medium);
  font-size: 10px;
  line-height: 0.83;
  font-weight: 500;
  color: #fff;
  background-color: var(--text-accent);
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.menu-categories {
  padding: 15px 0 14px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-light);
}

.menu-categories__link {
  padding: 15px 0 14px;
  transition: width 0.3s ease-in-out;
}
.menu-categories__link:hover {
  color: #000;
}

.menu-categories__link::after {
  content: "";
  position: relative;
  display: block;
  width: 0;
  height: 3px;
  bottom: -14px;
  background: var(--text-accent);
  transition: width 0.3s;
}
.menu-categories__link:hover::after {
  width: 100%;
}

/* banner-section */

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}
.banner-section__slider {
  max-width: 870px;
}

.banner-section__slider-img {
  object-fit: cover;
  min-height: 400px;
}

.banner-section__slider-btn,
.product-slider__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  z-index: 5;
  cursor: pointer;
}
.banner-section__slider-btn_prev {
  left: 20px;
}
.banner-section__slider-btn_next {
  right: 20px;
}
.slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}
.slick-dots button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 50%;
}

.slick-active li button {
  background-color: #fff;
}

.sale-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 265px;
  text-align: center;
  border: 1px solid var(--border-light);
  border-radius: 3px;
}
.sale-item__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sale-item__info {
  color: #fff;
  background-color: var(--text-accent);
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 10%;
}
.sale-item__price {
  display: flex;
  flex-direction: column;
  padding: 0 6px 0 0;
}
.price {
  font-family: var(--ff-num);
}
.sale-item__price_new {
  font-weight: 700;
  color: var(--text-accent);
  font-size: 27px;
  line-height: 1.19;
  margin-bottom: 7px;
}
.sale-item__price_old {
  font-weight: 400;
  color: var(--text-light);
  font-size: 14px;
  line-height: 1.21;
  align-self: flex-end;
  position: relative;
}

.sale-item__price_old::before {
  content: "";
  position: absolute;
  top: 7px;
  width: 100%;
  border: 0.5px solid #dddddd;
  transform: rotate(-15deg);
}
.sale-item__img {
  object-fit: contain;
  max-height: 177px;
}
.sale-item__title {
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.667;
  text-align: center;
}
.sale-item__footer {
  background-color: var(--bg-light);
  padding: 25px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  text-align: center;
}
.sale-item__footer span {
  display: block;
  color: var(--text-accent);
  font-family: var(--ff-num);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
  text-align: center;
}

/* search section */

.search__tabs {
  margin-bottom: 24px;
}
.search__tabs-item {
  padding: 11px 26px 12px;
}

.search__tabs-item.tab_active {
  border-radius: 5px;
  background-color: var(--bg-light);
  font-weight: 700;
}

.tabs-content {
  display: none;
}
.tabs-content.tabs-content_active {
  display: block;
}
.search__content-form {
  display: flex;
}
.search__content-input {
  padding: 5px 20px;
  width: 100%;
  color: var(--text-gray);
  font-size: 16px;
  line-height: 1.1875;
  background-color: var(--bg-light);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
}
.search__content-btn {
  padding: 17px 41px;
  margin-left: -3px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.21;
  letter-spacing: 12%;
  text-transform: uppercase;
  background-color: var(--text-accent);
  border-radius: 3px;
  border: none;
}

/* categories section*/

.categories__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.categories__item {
  display: flex;
  justify-content: space-between;
  width: 370px;
  padding: 20px 20px 16px;
  border: 1px solid var(--bg-light);
  border-radius: 3px;
  transition: all 0.3s;
}
.categories__item:hover {
  box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
}

.categories__item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.categories__item-title {
  font-family: var(--ff-num);
  font-size: 23px;
  font-weight: 700;
  line-height: 1.22;
  transition: all 0.3s;
}
.categories__item:hover .categories__item-title {
  color: var(--text-accent);
}
.categories__item-text {
  color: var(--text-light);
  font-size: 14px;
  line-height: 1.21;
  transition: all 0.3s;
}
.categories__item-text::after {
  content: url("../images/icons/arrow-right.svg");
  padding-left: 2px;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s;
}
.categories__item-text:hover {
  color: #000;
}
.categories__item-text:hover::after {
  filter: invert(100%);
}
.categories__item-img {
  width: 50%;
  text-align: center;
}
.categories__item-img img {
  max-width: 100%;
}

/* product section */

.product__title {
  font-family: var(--ff-num);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 24px;
}

.products__tabs {
  margin-bottom: 24px;
}

.products__tab + .products__tab {
  margin-left: 50px;
}
.products__tab {
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: lowercase;
}

.products__tab.tab_active {
  border-bottom: 2px solid var(--text-accent);
}

.product-item__wrapper {
  position: relative;
  width: 271px;
}
.product-item {
  min-width: 271px;
  min-height: 400px;
  padding: 52px 20px 31px;
  text-align: center;
  border: 1px solid var(--bg-light);
  border-radius: 3px;
}
.product-item__wrapper.product-item__not-available .product-item__price {
  display: none;
}
.product-item__notify-text {
  display: none;
  font-weight: 700;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
}
.product-item__wrapper.product-item__not-available .product-item__notify-text {
  display: block;
}

.product-item__wrapper.product-item__not-available .product-item__cart {
  display: none;
}

.product-item:hover .product-item__notify-text {
  color: var(--text-main);
}

.product-item__notify-link {
  display: none;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link {
  display: block;
  position: absolute;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--text-accent);
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.product-item__wrapper.product-item__not-available
  .product-item__notify-link
  span {
  border-bottom: 1px solid var(--text-accent);
}

.product-item__wrapper.product-item__not-available .product-item__title {
  padding-bottom: 13px;
}

.product-item__hover-text {
  padding: 18px 21px;
  display: inline-block;
  position: absolute;
  top: 30%;
  opacity: 0;
  border-radius: 3px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s;
}
.product-item:hover .product-item__hover-text {
  opacity: 1;
  color: var(--text-main);
}
.product-item:hover {
  box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
  color: var(--text-accent);
}
.product-item_sale::before {
  content: "SALE";
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 7%;
  background-color: var(--text-accent);
  color: #fff;
  text-transform: uppercase;
}
.product-item__favorite {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 24px;
  height: 22px;
  background-color: transparent;
  border: none;
}
.product-item__favorite::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 22px;
  top: 0;
  left: 0;
  background-image: url(../images/icons/heart.svg);
  cursor: pointer;
}

.product-item__favorite_active::before {
  background-image: url(../images/icons/heart-active.svg);
}

.product-item__title {
  padding: 14px 0 25px;
  font-weight: normal;
}

.product-item__price {
  font-family: var(--ff-num);
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}
.product-item__cart {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 7px;
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 10px 0 0 0;
  background-color: var(--text-accent);
  cursor: pointer;
  z-index: 10;
}

.product-slider__slider-btn_prev {
  left: -40px;
}
.product-slider__slider-btn_next {
  right: -40px;
}
.slick-slide img {
  display: inline;
}
.product__more {
  padding-top: 35px;
  text-align: center;
}
.product__more-link {
  padding: 16px 43px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 12%;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-light);
}
